//voir palette dans mon dossier txt


/*
code de bouton animé (incroyable)
*/

#bruh{

}


@font-face {
  font-family: 'input_police';
  src: url('http://89.82.115.147:2500/project/fonts/moon-get.ttf');
}

.button{
	display: inline-flex;
	border: 2px solid var(--base,#3b3b3b);
	color: var(--base,#3b3b3b);
	text-transform: uppercase;
	text-decoration: none;
	font-size: .8em;
	letter-spacing: 1.5px;
  align-items: center;
  font-family: input_police,text_police,Verdana;
	justify-content: center;
	overflow: hidden;
	background-color: #00000000;
	transition: all .35s ease-Out;
	margin: auto;
	height: 40px;
	width: 150px;
	cursor: pointer;
}

.tomain{
  position:fixed;
  background-color: #8d2727aa;
  border:none;
  left:0px;
  top:0px;
  z-index:10;
}




.button_array{
  background-color: #8f7d7366;
  position:fixed;
  left:15vw;
  top:35vw;
  width:70vw;
  height:70px;
}
.test{
  display:flex;
  background-color: #8f7d7366;
  position:fixed;
  left:auto;
  top:calc(calc(28.125vw + 8vh) + 50px);
  padding-left:5px;
  padding-right: 5px;
  width:70vw;
  height:70px;
  left: 15vw;
}
.button_help{
  
  padding-left:5px;
  padding-right: 5px;
  display:flex;
  background-color: #a7ca7f66;
  position:fixed;
  top:calc(calc(25.125vw + 8vh) + 120px);
  width:10vw;
  height:10px;
  left:45vw;
	transition: all .35s ease-Out;
}
.button_help>*{
  opacity:0;
  font-size:0px;
	transition: all .35s ease-Out;
}
.button_help:hover{
  background-color: #dadb8066;
  position:fixed;
  left:15vw ;
  width:70vw;
  height:70px;
}
.button_help:hover>*{
  opacity:1;
  font-size:.6em;;
}
.green{

	border: 2px solid #86BE6B;
	color:  #86BE6B;

}
.button:hover{
  
	transition: all .35s ease-Out;
  background-color:  var(--hov,var(--base,#3b3b3b));
	border: 2px solid var(--hov,var(--base,#3b3b3b));
  color:var(--text,#CBCBCB);

}

.button::selection{
  background-color:#00000000;
}
.button span::selection{
  background-color:#00000000;
}
.button *::selection{
  background-color:#00000000;
}
.button:active{
	transition: all .05s ease-Out;
  filter : saturate(50%);
  filter : brightness(160%);
}

.right_swipe .swipe{
  position:relative;
  widows: 100%;
  height:100%;
	transition: all .35s ease-Out;

}

.tomain:hover{
  
	background-color: #5d774dAA;
  border: 0px solid black;
}


.right_swipe img{
  position:relative;
  widows: 100%;
  height:100%;

}
.right_swipe:hover img{
  animation: slide ease-in-out 0.75s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: slide ease-in-out 0.75s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: slide ease-in-out 0.75s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: slide ease-in-out 0.75s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
}


.shake:hover{
	animation: animationFrames ease-in 0.25s;
  animation-iteration-count: 2;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames ease-in 0.25s;
  -webkit-animation-iteration-count: 2;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames ease-in 0.25s;
  -moz-animation-iteration-count: 2;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames ease-in 0.25s;
  -o-animation-iteration-count: 2;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames ease-in 0.25s;
  -ms-animation-iteration-count: 2;
  -ms-transform-origin: 50% 50%;
}


.green:hover{
	background-color:  #86BE6B;
	
	
}
.button a:visited{
	position: relative;
	color:  #3b3b3b;
	text-transform: uppercase;
	text-decoration: none;
}
.button a{
	position: relative;
	color:  #3b3b3b;
	text-transform: uppercase;
	text-decoration: none;
	transition: all .35s ease-Out;
}

.green a{
	position: relative;
	color:  #3d5331;
	text-transform: uppercase;
	text-decoration: none;
	transition: all .35s ease-Out;
}

.green a:visited{

	color:  #3d5331;
	text-decoration: none;

}

.button:hover a{
	position: relative;
	color:#FFFFFF;
}


.green:hover a{
	position: relative;
	color:#FFFFFF;
}
.button a:hover{
	position: relative;
	
	color: #FFFFFF;
	text-transform: uppercase;
	text-decoration: none;
}

//key frame shake
  @keyframes animationFrames{
    0% {
      transform:  rotate(0deg) ;
    }
    24% {
      transform:  rotate(5deg) ;
    }
    50% {
    }
    76% {
      transform:  rotate(-5deg) ;
    }
    100% {
      transform:  rotate(0deg) ;
    }
  }
  
  @-moz-keyframes animationFrames{
    0% {
      -moz-transform:  rotate(0deg) ;
    }
    24% {
      -moz-transform:  rotate(5deg) ;
    }
    50% {
    }
    76% {
      -moz-transform:  rotate(-5deg) ;
    }
    100% {
      -moz-transform:  rotate(0deg) ;
    }
  }
  
  @-webkit-keyframes animationFrames {
    0% {
      -webkit-transform:  rotate(0deg) ;
    }
    24% {
      -webkit-transform:  rotate(5deg) ;
    }
    50% {
    }
    76% {
      -webkit-transform:  rotate(-5deg) ;
    }
    100% {
      -webkit-transform:  rotate(0deg) ;
    }
  }
  
  @-o-keyframes animationFrames {
    0% {
      -o-transform:  rotate(0deg) ;
    }
    24% {
      -o-transform:  rotate(5deg) ;
    }
    50% {
    }
    76% {
      -o-transform:  rotate(-5deg) ;
    }
    100% {
      -o-transform:  rotate(0deg) ;
    }
  }
  
  @-ms-keyframes animationFrames {
    0% {
      -ms-transform:  rotate(0deg) ;
    }
    24% {
      -ms-transform:  rotate(5deg) ;
    }
    50% {
    }
    76% {
      -ms-transform:  rotate(-5deg) ;
    }
    100% {
      -ms-transform:  rotate(0deg) ;
    }
  }

  //keyframe slide
 
  
  @keyframes slide{
    0% {
      transform:  translate(0px,0px)  ;
    }
    44% {
      transform:  translate(-140px,0px)  ;
    }
    47% {
      transform:  translate(-140px,50px)  ;
    }
    54% {
      transform:  translate(100px,50px)  ;
    }
    56% {
      transform:  translate(100px,0px)  ;
    }
    100% {
      transform:  translate(0px,0px)  ;
    }
  }
  
  @-moz-keyframes slide{
    0% {
      -moz-transform:  translate(0px,0px)  ;
    }
    44% {
      -moz-transform:  translate(-140px,0px)  ;
    }
    47% {
      -moz-transform:  translate(-140px,50px)  ;
    }
    54% {
      -moz-transform:  translate(100px,50px)  ;
    }
    56% {
      -moz-transform:  translate(100px,0px)  ;
    }
    100% {
      -moz-transform:  translate(0px,0px)  ;
    }
  }
  
  @-webkit-keyframes slide {
    0% {
      -webkit-transform:  translate(0px,0px)  ;
    }
    44% {
      -webkit-transform:  translate(-140px,0px)  ;
    }
    47% {
      -webkit-transform:  translate(-140px,50px)  ;
    }
    54% {
      -webkit-transform:  translate(100px,50px)  ;
    }
    56% {
      -webkit-transform:  translate(100px,0px)  ;
    }
    100% {
      -webkit-transform:  translate(0px,0px)  ;
    }
  }
  
  @-o-keyframes slide {
    0% {
      -o-transform:  translate(0px,0px)  ;
    }
    44% {
      -o-transform:  translate(-140px,0px)  ;
    }
    47% {
      -o-transform:  translate(-140px,50px)  ;
    }
    54% {
      -o-transform:  translate(100px,50px)  ;
    }
    56% {
      -o-transform:  translate(100px,0px)  ;
    }
    100% {
      -o-transform:  translate(0px,0px)  ;
    }
  }
  
  