

.test{


}


@font-face {
    font-family: 'main_police';
    src: url('../fonts/Medel.ttf');
}


@font-face {
    font-family: 'text_police';
    src: url('../fonts/CaviarDreams.ttf');
}


@font-face {
    font-family: 'input_police';
    src: url('../fonts/moon-get.ttf');
}

canvas{

	transition: all .05s ease;
}

.youtube{
	margin-left:50px;
	width:200px;
    display: inline-block;
	float:top;
	vertical-align:top;
	
}

::selection{
	background-color: #66AAAA;
}




img{
	display:block;
    height: auto;
	padding-left:5px;
	padding-right:5px;
}
.github{
	text-align:center;
	margin-left:50px;
	display: inline-block;
	padding:4px;
	background-color:#AAAAAA;
	vertical-align:top;
	
}

.discord{
	margin-left:20px;
  display: inline-block;
	vertical-align:top;
	
}

#canvas {
	
	position: fixed;
	top:0px;
	left: 0px;
	
}

.canvas {
	pointer-events:none;
	position: fixed;
	top:0px; 
	left: 0px;
	
}
h1{
	font-family: main_police,sans-serif;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size:70px;
	color:#355668;
}

h2{
	font-family: main_police,sans-serif;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size:30px;
	color:#355668;
}


h3{
	margin-top:0px;
	padding-top:-10px;
	font-family: text_police,sans-serif;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size:20px;
	color:#355668;
}

footer{
	font-family: text_police,Verdana,sans-serif;
	font-size:10px;
	width:100vw;
	background-color:#EEDDCCBB;
	text-align:center;
	color:#555555;
	padding:40px;
	padding-bottom:35px;
	margin-bottom:0px;
}

#YT_vid{
	
	margin:5px;
    margin-top:20px;
	width:48%;
    height:calc(0.6*27vw);
    display:inline-block;
    background-color: rgba(80,80,80,0.2);
    
}

article{
	display:flex;
	flex-direction: column;
	justify-content: center;
}

.main{
	display:flex;
	flex-direction: column;
	min-height:100vh;
	width:60%;
	min-width:500px;
	max-width:100%;
	padding-bottom:90px;
	background-color:#D8E4FFBB;
	margin:auto;
	margin-top:-60px;
	padding-top:60px;
	justify-content: center;
}

hr{
	width:80%;
	color:#555555;
	border-color:#777777;
}

li{
	
	background-color:#CCDDFF77;
	width:80%;
	height:auto;
	font-family: text_police,Verdana,sans-serif;
	color:#555555;
	margin: auto;
	margin-top:40px;
	padding-top:10px;
	padding-bottom:10px;
	list-style-type: none;
	overflow:auto;
	cursor: pointer;
	transition: all .15s ease-Out;
}
li.active{
	
	background-color:#EEFFFF77;
	width:81%;
	font-family: text_police,Verdana,sans-serif;
	color:#555555;
	margin: auto;
	margin-top:40px;
	padding-top:10px;
	padding-bottom:10px;
	list-style-type: none;
	overflow:auto
}
ul{
	list-style-type:none;
}

.sommaire{
	background-color:#FFFFFF66;
	list-style-type: circle;
}

.sommaire li{
	background-color:#00000000;
	color:#BBBBBB;
	margin-top:0px;
}

iframe{
	horizontal-align:middle;
	 vertical-align:middle;
	 display: block;
	text-align:center;
	margin:auto;
}

a{
	color:#994444;
	text-decoration: none;
	
	transition: all .25s ease-Out;
}


a:visited{
	color:#449944;
	text-decoration: underline;
}
a:hover{
	color:#444499;
	text-decoration: underline;
}

div{
	font-family: text_police,Verdana,sans-serif;
	padding:2px;
}


form{
	display:flex;
    justify-content: center;
	//text-align:center;
}

button{
	font-family: input_police,Verdana,sans-serif;
	min-width:100px;
	min-height:20px;
	padding-left:10px;
	padding-right:10px;
}

p{
	padding-top:20px;
	font-family: text_police,Verdana,sans-serif;
	color:#444444;
	text-align:match-parent;
	font-size:15px;
	padding-right:20px;
	padding-left:20px;
	
}

html{
	
	background-color:#000000;
	/*cursor: none;*/ 
	overflow-x: hidden;
	padding:none;
	padding-bottom:-10px;
	height:100vh;
	margin:-1%;
	background: url("../images/forest.png");
}
body{
	padding:none;
	overflow-x: hidden;
	background-color:#000000;
	background: url("../images/forest.png");
    /*    overflow:hidden;*/
}

p.image{
	padding-top:20px;
	font-family: text_police,Verdana,sans-serif;
	margin:auto;
	color:#444444;
	text-align:match-parent;
	font-size:15px;
	padding-right:20px;
	padding-left:20px;
	width:60%;
	float:left;
	
}

image{
	clear:left;
	float:left;
}

.flotte{
	clear:left;
	padding:2%;
	float:right;
}



.link{
	width:100%;
	display:flex;
	flex-direction: row;
}

.credits{
	min-width:100px;
}

